<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your profile</title>
    <link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>
    <div class="dataForm">
        <h1>Welcome!</h1>
        <h2>{{ name }}</h2>
        <table id="allPokemon">
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th class="th_button">Delete</th>
            </tr>
            {% for pokemon in pokemons %}
                <a class="pokemons" href="{{ url_for('main.get_all_pokemon') }}">
                <tr>
                    <td>{{ pokemon["name"] }}</td>
                    <td>{{ pokemon["owner"] }}</td>
                    <form action="{{ url_for('main.remove_pokemon', id=pokemon["id"])}}" method="post">
                    <td class="td_button"><input type="submit" class="deleteBtn" value="Delete"></td>
                    </form>
                </tr>
                </a>
            {% endfor %}
        </table>
    <br>
        <a href="/logout" class="loginBtn">Logout</a>
        <a href="/add_pokemon" class="loginBtn">Add a new Pokemon</a>
    </div>
</body>
</html>