<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your profile</title>
    <link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>
    <div class="welcome">
        <h1>Welcome!</h1>
        <h2>{{ name }}</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
            {% for name, owner in pokemons.items() %}
                <tr>
                    <td>{{ pokemon.name|e }}</td>
                    <td>{{ pokemon.owner|e }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        <a href="/logout" class="welcomeBtn">Logout</a>
    </div>
</body>
</html>